.default_header{
  padding-top: 116px;
  @include tablet{
    padding-top: 55px;
  }
}
.header{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 10;
  &_top{
    background: $green;
    padding: 13px 0;
    @include tablet{
      display: none;
    }
    .container{
      display: flex;
      justify-content: space-between;
      .header_top_box{
        display: flex;
        align-items: center;
        &_icon{
          margin-right: 10px;
          display: flex;
          align-items: center;
          img{
            width: 100%;
          }
        }
        &_text{
          color: white;
          font-size: 12px;
        }
        .languageTrigger{
          display: flex;
          align-items: center;
          cursor: pointer;
          .header_top_box_text{
            margin: 0 10px;
          }
          .languageIcon{
            display: flex;
            align-items: center;
          }
        }
        .v-dropdown-menu__container{
          min-width: fit-content;
          max-width: fit-content;
          box-shadow: 0px 0px 11px rgba(152, 152, 152, 0.2);
          border-radius: 4px;
        }
        .body{
          padding: 4px 0;
          .lang{
            cursor: pointer;
            padding: 2px 0;
            width: 95px;
            color: $lightgray;
            text-align: center;
            font-size: 14px;
            &:hover{
              background: rgba(141, 198, 63, .4);
            }
          }
          .active{
            background: rgba(141, 198, 63, .4);
            color: $gray;
          }
        }
      }
    }
  }
  .desktop{
    position: absolute;
    width: 100%;
    @include tablet{
      top: 0;
    }
    z-index: 10;
    .mobileSearchBackground{
      width: 100%;
      height: 68px;
      position: absolute;
      top: 0;
      background-color: red;
      opacity: 0;
      z-index: 100;
    }
    .header_search{
      @include tablet{
        display: none !important;
      }
    }
  }
  .mobile{
    display: none;
    background: none;
    box-shadow: none;
    position: absolute;
    top: 0;
    width: 100%;
    transition: 0.2s;
    .mobileSearchBackground{
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      background-color: red;
      opacity: 0;
    }
    .container{
      padding: 4px 0;
      label{
        transition: 0.2s;
        input{
          font-size: 12px;
          &::placeholder{
            font-size: 12px;
          }
        }
      }
    }
    @include tablet{
      display: block;
    }
  }
  &_bottom{
    background-color: #F6F6F6;
    box-shadow: 0px 0px 11px rgba(152, 152, 152, 0.2);
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0;
      position: relative;
      .mobile_header_left,.mobile_header_right{
        display: none;
        @include tablet{
          display: flex;
          align-items: center;
          .icon{
            display: flex;
            align-items: center;
          }
          .mobile_search{
            @include flex;
          }
        }
        div{
          cursor: pointer;
        }
        .mobile_menu_icon{
          border: none;
          cursor: pointer;
        }
        .mobile_menu, .mobile_search{
          @include tablet{
            margin-right: 50px;
          }
          @include mobile{
            margin-right: 20px;
          }
        }
      }
      .header_bottom_box{
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        .active{
          position: absolute;
          width: 12px;
          height: 12px;
          background-color: $red;
          border-radius: 6px;
          top: -5px;
          left: 15px;
        }
        .cart{
          background-color: white;
          position: absolute;
          right: 0%;
          top: 40px;
          box-shadow: 0px 0px 11px rgba(19, 23, 61, 0.14);
          border-radius: 8px;
          padding: 24px;
          width: 410px;
          cursor: default;
          z-index: 100;
          .cart_cube1{
            width: 24px;
            height: 24px;
            background-color: white;
            transform: rotate(45deg);
            position: absolute;
            top:-12px;
            right: 42px;
            box-shadow: 0px 0px 11px rgba(19, 23, 61, 0.14);
          }
          .cart_cube2{
            width: 40px;
            height: 20px;
            background-color: white;
            position: absolute;
            right: 32px;
            top:0;
          }
          &_header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 16px;
            
            &_left{
              font-size: 18px;
              font-weight: 600;
              letter-spacing: 2px;
            }
            &_right{
              font-size: 14px;
              display: flex;
              align-items: center;
              cursor: pointer;
            }
          }
          hr{
            width: calc(100% + 48px);
            margin-left: -24px;
            margin-bottom: 16px;
            border: none;
            border-bottom: 1px solid #E2E0E0;
          }
          .cart_productCon{
            max-height: 50vh;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 10px;
          }
          .cart_product{
            display: flex;
            margin-bottom: 16px;
            &_image{
              margin-right: 24px;
              min-width: 100px;
              max-width: 100px;
              max-height: 100px;
              img{
                object-fit: cover;
                border-radius: 6px;
                width: 100%;
                height: 100%;
              }
            }
            &_info{
              width: 100%;
              &_name{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 20px;
              }
              &_bottom{
                display: flex;
                justify-content: space-between;
                &_quantity{
                  font-size: 14px;
                  color: $gray;
                  span{
                    margin-left: 10px;
                  }
                }
                &_price{
                  font-size: 17px;
                  font-weight: 600; 
                }
              }
            }
          }
          &_bottom{
            &_header{
              display: flex;
              justify-content: space-between;
              border-top: 1px solid #E2E0E0;
              padding-top: 16px;
              margin-bottom: 16px;
              &_title{
                font-weight: 600;
                font-size: 17px;
              }
            }
            &_buttons{
              display: flex;
              justify-content: space-between;
              &_white{
                padding: 10px 56px;
                border-radius: 16px;
                border: 1px solid $green;
                color: $green;
                cursor: pointer;
              }
              &_green{
                cursor: pointer;
                padding: 10px 56px;
                border-radius: 16px;
                border: 1px solid $green;
                color: #FCFCFC;
                background-color: $green;
              }
            }
          }
        }
        .logo_text{
          font-size: 13px;
          color: $green;
        }
        .logo_icon{
          display: flex;
          align-items: center;
          margin-right: 5px;
        }
        &_icon{
          margin-right: 10px;
          display: flex;
          align-items: center;
        }
        &_text{
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
      .brand{
        @include tablet{
          display: none;
        }
      }
      .header_cart{
        @include tablet{
          display: none;
        }
      }
      .header_search{
        background-color: #EDEDED;
        padding: 10px 16px;
        border-radius: 8px;
        width: 40%;
        position: relative;

        @include tablet{
          width: 100%;
        }
        input{
          outline: none;
          border: none;
          background: none;
          width: 100%;
          &::placeholder{
            color: #AFAFAF;
            font-size: 14px;
          }
        }
        .header_bottom_box_icon{
          margin-right: 0px;
        }
        .searched{
          background-color: #FCFCFC;
          position: absolute;
          left: 0;
          top: 50px;
          border-radius: 8px;
          padding: 12px 16px;
          width: 100%;
          box-shadow: 0px 0px 11px rgba(152, 152, 152, 0.2);
          cursor: default;
          @include tablet{
            top: 40px;
          }
          &_notFind{
            font-weight: 600;
            letter-spacing: 1px;
            color: $lightgray;
          }
          &_find{
            &_products{
              &_product{
                border-bottom: 1px solid #E2E0E0;
                padding: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8px;
                .image{
                  @include flex();
                  img{
                    margin-right: 16px;
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                  }
                }
                .name{
                  margin-right: 20px;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                .prices{
                  &_new{
                    width: max-content;
                    font-weight: 600;
                    letter-spacing: 1px;
                  }
                  &_old{
                    width: max-content;
                    color:$lightgray;
                    font-weight: 600;
                    letter-spacing: 1px;
                    font-size: 13px;
                    text-decoration-line: line-through;
                  }
                }
              }
            }
            &_bottom{
              display: flex;
              justify-content: space-between;
              font-size: 13px;
              a,span{
                color: $gray;
              }
            }
          }
        }
      }
    }
  }

  
  .header_category{
    position: relative;
    @include tablet{
      display: none !important;
    }
  }
  .header_category:hover{
    .hiddenCategory{
      display: block;
    }
  }

  .hiddenCategory{
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: white;
    padding:7px 0;
    z-index: 2;
    width: 230px;
    text-align: start;
    border-radius: 6px;
    &:hover{
      display: block;
    }


    .hiddenCategory_category{
      position: relative;
      .child{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 24px;
        font-family: oswald;
      }
    }
    // sub
    .hiddenSubCategory{
      display: none;
      position: absolute;
      background-color: #FCFCFC;
      top: 0;
      left: 230px;
      box-shadow: 9px 0px 11px rgba(152, 152, 152, 0.2);
      border-radius: 0px 6px 6px 6px;
      width: 280px;
      .hiddenSubCategory_subCategory{
        width: 100%;
        display: inline-block;
        padding: 8px 16px;
        margin: 5px 0;
        &:hover{
          background-color: rgba(141, 198, 63, 0.4);;
        }
      }
    }
    .hiddenCategory_category:hover{
      .hiddenCategory_category_child{
        background: rgba(141, 198, 63, 0.4);
        svg{
          path{
            fill: $black;
          }
        }
      }
      .hiddenSubCategory{
        display: block;
      }
    }

    .cube{
      transform: rotate(45deg);
      background-color: white;
      width: 23px;
      height: 23px;
      top: -11px;
      left: 20px;
      position: absolute;
      box-shadow: 0px 0px 11px rgba(152, 152, 152, 0.2);
      z-index: -2;
    }
    .cube2{
      position: absolute;
      width: 40px;
      height: 30px;
      background: white;
      z-index: -1;
      top: 0;
      left: 12px;
    }
    .cube3{
      width: 230px;
      height: 30px;
      position: absolute;
      top: -20px;
      z-index: -3;
    }
  }
  .mobile_menu_box{
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(152, 152, 152, 0.2);
    position: absolute;
    display: none;
    top: 68px;
    height: calc(100vh - 68px);
    width: 75%;
    padding: 16px 8px;
    z-index: 10;
    left: -101%;
    transition: 0.4s;
    overflow-y: auto;
    @include tablet{
      display: block;
    }
    .menu_list{
      @include flex(row, flex-start);
      width: 100%;
      padding: 0px 10px;
      border-bottom: 1px solid #E2E0E0;
      .listSpan{
        @include flex();
        padding: 12px 0;
      }
      .dropdown-btn{
        span{
          font-family: oswald;
        }
      }
      .icon{
        margin-right: 10px;
        @include flex;
      }
      .text{
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 15px;
      }
    }
    .menu_bottom{
      margin-top: 12px;
      .menu_bottom_text{
        @include flex(row, flex-start);
        padding: 6px 8px;
        img{
          margin-right: 10px;
        }
        .text{
          font-size: 12px;
        }
      }
    }
  }
}

.toasted{
  background: #F5F5F5 !important;
  color: $darkgreen !important;
  border-radius: 16px !important;
  box-shadow: 0px 0px 11px rgba(152, 152, 152, 0.2) !important;
}

.mobile_language{
  display: flex;
  align-items: center;
  .languageTrigger{
    display: flex;
    align-items: center;
    cursor: pointer;
    .header_top_box_text{
      margin: 0 10px;
    }
    .languageIcon{
      display: flex;
      align-items: center;
    }
  }
  .v-dropdown-menu__container{
    min-width: fit-content;
    max-width: fit-content;
    box-shadow: 0px 0px 11px rgba(152, 152, 152, 0.2);
    border-radius: 4px;
    margin-left: -38px;
    margin-top: 3px;
  }
  .body{
    padding: 4px 0;
    .lang{
      cursor: pointer;
      padding: 2px 0;
      width: 95px;
      color: $lightgray;
      text-align: center;
      font-size: 14px;
      &:hover{
        background: rgba(141, 198, 63, .4);
      }
    }
    .active{
      background: rgba(141, 198, 63, .4);
      color: $gray;
    }
  }
}
