.product{
  border-radius: 8px;
  background: #FCFCFC;
  position: relative;
  padding-bottom: 16px;
  // height: ;
  @include tablet{
    height: 375px;
  }
  &:nth-child(4n){
    margin-right: 0;
  }
  &_image{
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    @include tablet{
      border-radius: 4px;
      padding-bottom: 0;
    }
    img{
      width: 100%;
      max-height: 250px;
      min-height: 250px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  &_name{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    padding: 0 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @include tablet{
      font-size: 14px;
      margin-bottom: 5px;
      padding: 0 10px;
      line-height: 16px;
    }
  }
  &_rating{
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 10px;
    @include tablet{
      padding: 0 10px;
    }
    &_stars{
      margin-right: 10px;
      @include tablet{
        margin-right: 8px;
        img{
          width: 13px;
        }
      }
    }
    &_count{
      font-size: 14px;
      color: $lightgray;
      font-weight: 500;
      line-height: 16px;
      @include tablet{
        font-size: 13px;
      }
    }
  }
  &_prices{
    display: flex;
    align-items: center;
    padding: 0 15px;
    @include tablet{
      flex-direction: column-reverse;
      align-items: flex-start;
      // float: left;
    }
    &_new{
      font-weight: 600;
      line-height: 20px;
      font-size: 17px;
      margin-right: 10px;
      @include tablet{
        font-size: 16px;
      }
    }
    &_old{
      font-size: 14px;
      color: $lightgray;
      line-height: 17px;
      font-weight: 500;
      text-decoration-line: line-through;
      @include tablet{
        font-size: 12px;
      }
    }
  }
  .openMobileClick{
    display: none;
    background: $darkgreen;
    width: fit-content;
    padding: 6px;
    border-radius: 4px;
    margin-right: 15px;
    margin: 12px 15px 0px;
    @include tablet{
      display: block;
    }
    div{
      @include flex();
    }
    &.hide{
      display: none;
    }
  }
  &_addBtn_container{
    @include flex(row,flex-end);
    width: 100%;
    @include tablet{
      margin-top: -30px;
    }
  }
  &_addBtn{
    width: 100%;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 15px 0px;
    padding: 12px 0;
    border-radius: 16px;
    cursor: pointer;
    @include tablet{
      border-radius: 4px;
      padding: 6px;
      width: fit-content;
      span{
        display: none;
      }
    }
    span{
      color: white;
    }
    &:hover{
      background-color: $darkgreen;
    }
    img{
      margin-right: 25px;
      @include tablet{
        margin-right: 0;
      }
    }
    .mobile{
      display: none;
      @include tablet{
        display: block;
      }
    }
    .desktop{
      @include tablet{
        display: none;
      }
    }
  }
  .isContainer{
    position: absolute;
    top: 5px;
    left: 5px;
    .product_new{
      background: $yellow;
      color: white;
      // position: absolute;
      padding: 5px 10px;
      border-radius: 8px;
      margin-bottom: 5px;
      // top: 5px;
      // left: 5px;
      @include tablet{
        font-size: 10px;
        padding: 3px 6px;
        border-radius: 4px;
      }
    }
    .product_discount{
      background: $red;
      color:white;
      // position: absolute;
      padding: 5px 10px;
      border-radius: 8px;
      // top: 40px;
      // left: 5px;
      @include tablet{
        font-size: 10px;
        padding: 3px 6px;
        border-radius: 4px;
        top: 26px;
      }
    }
  }
}