.category_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  &_name{
    font-family: oswald;
    letter-spacing: 1px;
  }
  &_buttons{
    display: flex;
    align-items: center;
    &_button{
      display: flex;
      align-items: center;
      padding: 10px 12px;
      border: 1px solid #AFAFAF;
      border-radius: 8px;
      cursor: pointer;
      &:first-child{
        margin-right: 16px;
      }
      &:hover{
        border: 1px solid $green;
        svg{
          path{
            fill: $green;
          }
        }
      }
    }
  }
}
.banner{
  margin-top: 23px;
  .swiper-container{
    border-radius: 16px !important;
  }
  .swiper{
    img{
      width: 100%;
    }
  }
  .swiper-pagination-bullet{
    background-color: #E2E0E0;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active{
    background-color: $green;
    opacity: 1;
  }
  .swiper-button{
    background-color: rgba(226, 224, 224, .5);
    padding: 10px;
    border-radius: 20px;
    color: $lightgray;
    font-size: 12px;
    width: 40px;
    height: 40px;
    &::after{
      font-size: 20px;
    }
  }
}