.searchProducts{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  &_product{
    width: 23%;
    margin-right: 2.66%;
    margin-bottom: 16px;
    &:nth-child(4n){
      margin-right: 0;
    }
    @include tablet{
      width: 32%;
      margin-right: 2%;
      &:nth-child(4n){
        margin-right: 2%;
      }
      &:nth-child(3n){
        margin-right: 0;
      }
    }
    @include mobile{
      width: 49%;
      margin-right: 2%;
      &:nth-child(4n){
        margin-right: 2%;
      }
      &:nth-child(3n){
        margin-right: 2%;
      }
      &:nth-child(2n){
        margin-right: 0;
      }
    }
  }
}
.searchPage_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_sum{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}